<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
</head>

<body>
    <div>
        <input type="checkbox" id="checkbox_attack" name="attack" value="Attack Rolls">
        <label for="checkbox_attack">Attack Rolls</label>
        <input type="checkbox" id="checkbox_save" name="save" value="Save Rolls">
        <label for="checkbox_saves">Save Rolls</label>
        <input type="checkbox" id="checkbox_skill" name="skill" value="Skill Rolls">
        <label for="checkbox_skills">Skill Check Rolls</label>
        <input type="checkbox" id="checkbox_damage" name="damage" value="Damage Average">
        <label for="checkbox_damage">Damage Average</label>
        <input type="date" id="startDatePicker" name="startDate">
        <label for="startDatePicker">Start Date</label>
    </div>
    {% for canvasId in canvasIds %}
        <div style="width:800px;height:600px;">
            <canvas id={{ canvasId }}></canvas>
        </div>
    {% endfor %}

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    var searchParams = new URLSearchParams(window.location.search);

    const datePicker = document.getElementById('startDatePicker');
    datePicker.addEventListener('change', (event) => {
        let path = event.path || (event.composedPath && event.composedPath());
        selector = path[0].name
        searchParams.set(selector, event.target.value);
        window.location.search = searchParams.toString();
    });

    const damageCheckbox = document.getElementById('checkbox_damage');
    damageCheckbox.addEventListener('change', (event) => {
        let path = event.path || (event.composedPath && event.composedPath());
        selector = path[0].name
        searchParams.set(selector, event.target.checked);
        window.location.search = searchParams.toString();
    });

    const attackCheckbox = document.getElementById('checkbox_attack');
    attackCheckbox.addEventListener('change', (event) => {
        let path = event.path || (event.composedPath && event.composedPath());
        selector = path[0].name
        searchParams.set(selector, event.target.checked);
        window.location.search = searchParams.toString();
    });

    const saveCheckbox = document.getElementById('checkbox_save');
    saveCheckbox.addEventListener('change', (event) => {
        let path = event.path || (event.composedPath && event.composedPath());
        selector = path[0].name
        searchParams.set(selector, event.target.checked);
        window.location.search = searchParams.toString();
    });

    const skillCheckbox = document.getElementById('checkbox_skill');
    skillCheckbox.addEventListener('change', (event) => {
        let path = event.path || (event.composedPath && event.composedPath());
        selector = path[0].name
        searchParams.set(selector, event.target.checked);
        window.location.search = searchParams.toString();
    });

    if(searchParams.get('attack'))
        document.getElementById("checkbox_attack").checked = (searchParams.get('attack') === 'true');
    if(searchParams.get('skill'))
        document.getElementById("checkbox_skill").checked = (searchParams.get('skill') === 'true');
    if(searchParams.get('save'))
        document.getElementById("checkbox_save").checked = (searchParams.get('save') === 'true');
    if(searchParams.get('damage'))
        document.getElementById("checkbox_damage").checked = (searchParams.get('damage') === 'true');

</script>

{{ attackTable }}
{{ damageTable }}
{% for table in detailedTables %}
{{table}}
{% endfor %}


</html>
